
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `user_name` varchar(150) NOT NULL,
  `user_role` varchar(50) NOT NULL,
  `action` varchar(150) NOT NULL,
  `module` varchar(100) NOT NULL,
  `status` enum('Success','Failed') NOT NULL DEFAULT 'Success',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_activity_logs_created_at` (`created_at`),
  KEY `idx_activity_logs_user_name` (`user_name`),
  KEY `idx_activity_logs_action_module` (`action`,`module`)
) ENGINE=InnoDB AUTO_INCREMENT=617 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `announcement_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcement_reads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `announcement_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `read_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_announcement_read` (`announcement_id`,`user_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `announcement_reads_ibfk_1` FOREIGN KEY (`announcement_id`) REFERENCES `announcements` (`id`) ON DELETE CASCADE,
  CONSTRAINT `announcement_reads_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `announcement_reads` WRITE;
/*!40000 ALTER TABLE `announcement_reads` DISABLE KEYS */;
INSERT INTO `announcement_reads` VALUES (1,3,4,'2026-07-21 02:14:47'),(5,4,4,'2026-08-06 14:53:50'),(29,5,4,'2026-09-21 04:55:40');
/*!40000 ALTER TABLE `announcement_reads` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `priority` enum('low','normal','high') DEFAULT 'normal',
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `announcements_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
INSERT INTO `announcements` VALUES (3,'Biowaste Collection','eagfbwbfh','normal',3,'2026-07-21 02:14:35'),(4,'Biowaste Collection','scjhdh','normal',3,'2026-08-06 14:50:36'),(5,'Biowaste Collection','Residual','low',3,'2026-09-21 04:27:26');
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `daily_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_tasks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `task_batch_id` char(32) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `assigned_to` int(11) DEFAULT NULL,
  `task_date` date NOT NULL,
  `priority` enum('low','normal','high') DEFAULT 'normal',
  `status` enum('pending','completed','cancelled') DEFAULT 'pending',
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `completed_at` timestamp NULL DEFAULT NULL,
  `completed_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `assigned_to` (`assigned_to`),
  KEY `completed_by` (`completed_by`),
  KEY `idx_daily_tasks_batch` (`task_batch_id`),
  CONSTRAINT `daily_tasks_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `daily_tasks_ibfk_2` FOREIGN KEY (`assigned_to`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `daily_tasks_ibfk_3` FOREIGN KEY (`completed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `daily_tasks` WRITE;
/*!40000 ALTER TABLE `daily_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_tasks` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `data_export_otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_export_otps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `purpose` varchar(64) NOT NULL DEFAULT 'export',
  `code_hash` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) NOT NULL DEFAULT 0,
  `used_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_data_export_otps_user` (`user_id`,`used`,`expires_at`),
  KEY `idx_data_export_otps_purpose` (`user_id`,`purpose`,`used`,`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `data_export_otps` WRITE;
/*!40000 ALTER TABLE `data_export_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_export_otps` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `data_retention_policy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_retention_policy` (
  `policy_id` tinyint(3) unsigned NOT NULL,
  `retention_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `retention_months` smallint(5) unsigned NOT NULL DEFAULT 60,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`policy_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `data_retention_policy` WRITE;
/*!40000 ALTER TABLE `data_retention_policy` DISABLE KEYS */;
INSERT INTO `data_retention_policy` VALUES (1,1,60,3,'2026-10-02 04:13:37');
/*!40000 ALTER TABLE `data_retention_policy` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `ip_address` varchar(45) NOT NULL,
  `attempt_time` timestamp NOT NULL DEFAULT current_timestamp(),
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_login_attempts_username` (`username`),
  KEY `idx_login_attempts_ip` (`ip_address`)
) ENGINE=InnoDB AUTO_INCREMENT=455 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `recipient_user_id` int(11) NOT NULL,
  `actor_user_id` int(11) DEFAULT NULL,
  `notification_type` varchar(50) NOT NULL DEFAULT 'general',
  `title` varchar(160) NOT NULL,
  `message` text NOT NULL,
  `destination_url` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `read_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_notifications_recipient_read_created` (`recipient_user_id`,`is_read`,`created_at`),
  KEY `idx_notifications_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `user_id` (`user_id`),
  KEY `idx_password_resets_token` (`token`),
  CONSTRAINT `password_resets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `persistent_login_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persistent_login_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `selector` char(24) NOT NULL,
  `token_hash` char(64) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_used_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_persistent_login_selector` (`selector`),
  KEY `idx_persistent_login_user` (`user_id`),
  KEY `idx_persistent_login_expiry` (`expires_at`),
  CONSTRAINT `fk_persistent_login_tokens_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `persistent_login_tokens` WRITE;
/*!40000 ALTER TABLE `persistent_login_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `persistent_login_tokens` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staff_id` int(11) NOT NULL,
  `report_type` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `zone` varchar(100) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'pending',
  `admin_note` text DEFAULT NULL,
  `reviewed_by` int(11) DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_reports_staff_created` (`staff_id`,`created_at`),
  KEY `idx_reports_status_created` (`status`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
INSERT INTO `reports` VALUES (1,4,'waste','so many bio waste','phase 1','resolved',NULL,3,'2026-08-29 18:56:05','2026-08-29 18:51:09','2026-08-29 18:56:05'),(2,4,'equipment','we need more gloves','MRF Facility','pending',NULL,NULL,NULL,'2026-08-29 18:59:13','2026-08-29 18:59:13');
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `two_factor_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `two_factor_codes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `code` varchar(12) NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_two_factor_codes_user` (`user_id`,`used`,`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `two_factor_codes` WRITE;
/*!40000 ALTER TABLE `two_factor_codes` DISABLE KEYS */;
INSERT INTO `two_factor_codes` VALUES (2,3,'706723','2026-08-29 03:00:04',1,'2026-08-28 18:55:04'),(3,3,'825707','2026-08-29 03:14:38',1,'2026-08-28 19:09:38'),(4,3,'765202','2026-08-29 20:43:56',1,'2026-08-29 12:38:56'),(5,3,'336997','2026-09-09 13:20:08',1,'2026-09-09 05:15:08'),(6,3,'570725','2026-09-21 12:54:21',1,'2026-09-21 04:49:21'),(7,3,'243741','2026-10-02 12:46:10',1,'2026-10-02 04:41:10'),(8,3,'587449','2026-10-02 12:46:38',1,'2026-10-02 04:41:38'),(9,3,'875548','2026-10-02 13:28:51',1,'2026-10-02 05:23:51');
/*!40000 ALTER TABLE `two_factor_codes` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `user_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_settings` (
  `user_id` int(11) NOT NULL,
  `dashboard_view` varchar(40) NOT NULL DEFAULT 'waste_overview',
  `measurement_unit` varchar(10) NOT NULL DEFAULT 'kg',
  `time_range` varchar(10) NOT NULL DEFAULT 'weekly',
  `system_alerts` tinyint(1) NOT NULL DEFAULT 1,
  `reports_reminder` tinyint(1) NOT NULL DEFAULT 1,
  `high_waste_alerts` tinyint(1) NOT NULL DEFAULT 1,
  `two_factor_enabled` tinyint(1) NOT NULL DEFAULT 0,
  `session_timeout_minutes` smallint(6) NOT NULL DEFAULT 30,
  `data_retention_months` smallint(6) NOT NULL DEFAULT 12,
  `auto_delete_old_reports` tinyint(1) NOT NULL DEFAULT 1,
  `share_anonymized_data` tinyint(1) NOT NULL DEFAULT 0,
  `data_export_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `user_settings` WRITE;
/*!40000 ALTER TABLE `user_settings` DISABLE KEYS */;
INSERT INTO `user_settings` VALUES (3,'waste_overview','kg','monthly',1,1,1,0,30,60,1,0,1,'2026-10-02 11:36:40'),(4,'waste_overview','kg','weekly',1,1,1,0,30,60,0,0,1,'2026-10-02 08:40:06');
/*!40000 ALTER TABLE `user_settings` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `user_type` enum('admin','staff') NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_login` timestamp NULL DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `gender` enum('Male','Female','Other') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_username` (`username`),
  KEY `idx_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (3,'Justin','justinallapitan19@gmail.com','$2y$10$2Ybbjyc8QCfif4sbds7mNuSq8o.ll2t1KTDzRXhk9deuVmO4kF7VC','admin','Justin','Allapitan',1,'2026-03-21 04:36:26','2026-10-03 09:52:18','admin_profile.jpg','Blk229Lot14','Male'),(4,'Jhay','jhaynath06@gmail.com','$2y$10$SqV0wDQ9zyTjf9WjnjXLEuTBj0gx0vn1hl0HwjxBqK4Vjelv/sRom','staff','Jhay','Calumag',1,'2026-03-21 04:36:26','2026-10-02 11:53:53','uploads/users/1790226904_783616428_932224506596950_2257037115693499071_n.jpg','Blk15Lot16','Male');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `verification_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `verification_codes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `code` varchar(6) NOT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `used` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `verification_codes_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `verification_codes` WRITE;
/*!40000 ALTER TABLE `verification_codes` DISABLE KEYS */;
INSERT INTO `verification_codes` VALUES (24,3,'063969','2026-09-09 05:28:35','2026-09-09 05:28:03',1);
/*!40000 ALTER TABLE `verification_codes` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_collection_group_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_collection_group_rules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `normalized_area` varchar(190) NOT NULL,
  `collection_group` varchar(255) NOT NULL,
  `collection_group_type` enum('phase','establishment') NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_waste_group_rule_area` (`normalized_area`),
  KEY `idx_waste_group_rule_active` (`is_active`,`normalized_area`)
) ENGINE=InnoDB AUTO_INCREMENT=32036 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_collection_group_rules` WRITE;
/*!40000 ALTER TABLE `waste_collection_group_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_collection_group_rules` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_daily_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_daily_allocations` (
  `waste_record_id` int(11) NOT NULL,
  `allocation_date` date NOT NULL,
  `tuesday_factory_returnable_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `wednesday_biowaste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `thursday_factory_returnable_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `friday_biowaste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `saturday_hazard_waste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `residual_waste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `unclassified_waste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `kilogram_of_waste` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`waste_record_id`,`allocation_date`),
  KEY `idx_waste_daily_allocations_date` (`allocation_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_daily_allocations` WRITE;
/*!40000 ALTER TABLE `waste_daily_allocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_daily_allocations` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_data_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_data_state` (
  `state_key` varchar(50) NOT NULL,
  `version` bigint(20) unsigned NOT NULL DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`state_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_data_state` WRITE;
/*!40000 ALTER TABLE `waste_data_state` DISABLE KEYS */;
INSERT INTO `waste_data_state` VALUES ('waste_records',15,'2026-10-02 04:14:34');
/*!40000 ALTER TABLE `waste_data_state` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_backfill_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_backfill_state` (
  `state_key` varchar(100) NOT NULL,
  `last_record_id` int(11) NOT NULL DEFAULT 0,
  `completed_at` datetime DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`state_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_backfill_state` WRITE;
/*!40000 ALTER TABLE `waste_import_backfill_state` DISABLE KEYS */;
INSERT INTO `waste_import_backfill_state` VALUES ('record_fingerprints',14478,'2026-10-03 17:52:32','2026-10-03 09:52:32');
/*!40000 ALTER TABLE `waste_import_backfill_state` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_batch_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_batch_files` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` char(36) NOT NULL,
  `file_sha256` char(64) NOT NULL,
  `dataset_sha256` char(64) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `row_count` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_waste_import_batch_file` (`batch_id`,`file_sha256`),
  KEY `idx_waste_import_batch_files_hash` (`file_sha256`),
  KEY `idx_waste_import_batch_files_dataset` (`dataset_sha256`),
  KEY `idx_waste_import_batch_files_batch` (`batch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_batch_files` WRITE;
/*!40000 ALTER TABLE `waste_import_batch_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_batch_files` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_batch_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_batch_issues` (
  `batch_id` char(36) NOT NULL,
  `source_file_sha256` char(64) NOT NULL,
  `worksheet_name` varchar(255) NOT NULL DEFAULT '',
  `source_row_number` int(11) NOT NULL DEFAULT 0,
  `reason_code` varchar(60) NOT NULL,
  PRIMARY KEY (`batch_id`,`source_file_sha256`,`worksheet_name`,`source_row_number`,`reason_code`),
  KEY `idx_waste_import_batch_issues_batch` (`batch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_batch_issues` WRITE;
/*!40000 ALTER TABLE `waste_import_batch_issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_batch_issues` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_batches` (
  `id` char(36) NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `status` enum('pending','imported','cancelled','rejected') NOT NULL DEFAULT 'pending',
  `row_count` int(11) NOT NULL DEFAULT 0,
  `file_count` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` datetime NOT NULL,
  `imported_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_waste_import_batches_owner_status` (`created_by`,`status`),
  KEY `idx_waste_import_batches_expiry` (`status`,`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_batches` WRITE;
/*!40000 ALTER TABLE `waste_import_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_batches` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_draft_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_draft_issues` (
  `draft_id` char(36) NOT NULL,
  `worksheet_name` varchar(255) NOT NULL DEFAULT '',
  `source_row_number` int(11) NOT NULL DEFAULT 0,
  `reason_code` varchar(60) NOT NULL,
  PRIMARY KEY (`draft_id`,`worksheet_name`,`source_row_number`,`reason_code`),
  KEY `idx_waste_import_draft_issues_draft` (`draft_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_draft_issues` WRITE;
/*!40000 ALTER TABLE `waste_import_draft_issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_draft_issues` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_draft_rows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_draft_rows` (
  `draft_id` char(36) NOT NULL,
  `row_number` int(11) NOT NULL,
  `worksheet_name` varchar(255) NOT NULL DEFAULT '',
  `source_row_number` int(11) NOT NULL DEFAULT 0,
  `phase_label` varchar(255) DEFAULT NULL,
  `collection_group` varchar(255) DEFAULT NULL,
  `reporting_period` varchar(255) DEFAULT NULL,
  `needs_date_resolution` tinyint(1) NOT NULL DEFAULT 0,
  `row_data` mediumtext NOT NULL,
  PRIMARY KEY (`draft_id`,`row_number`),
  KEY `idx_waste_import_draft_rows_draft` (`draft_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_draft_rows` WRITE;
/*!40000 ALTER TABLE `waste_import_draft_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_draft_rows` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_drafts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_drafts` (
  `id` char(36) NOT NULL,
  `created_by` int(11) NOT NULL,
  `file_sha256` char(64) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `worksheet_summary` mediumtext DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_waste_import_drafts_owner_expiry` (`created_by`,`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_drafts` WRITE;
/*!40000 ALTER TABLE `waste_import_drafts` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_drafts` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_event_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_event_issues` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_id` bigint(20) unsigned NOT NULL,
  `worksheet_name` varchar(255) DEFAULT NULL,
  `source_row_number` int(11) NOT NULL DEFAULT 0,
  `reason_code` varchar(60) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_waste_import_event_issue` (`event_id`,`worksheet_name`,`source_row_number`,`reason_code`),
  KEY `idx_waste_import_event_issues_event` (`event_id`)
) ENGINE=InnoDB AUTO_INCREMENT=237 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_event_issues` WRITE;
/*!40000 ALTER TABLE `waste_import_event_issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_event_issues` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_events` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_key` varchar(160) DEFAULT NULL,
  `actor_user_id` int(11) DEFAULT NULL,
  `original_name` varchar(255) DEFAULT NULL,
  `file_format` varchar(20) DEFAULT NULL,
  `valid_row_count` int(11) NOT NULL DEFAULT 0,
  `skipped_row_count` int(11) NOT NULL DEFAULT 0,
  `outcome` enum('imported','cancelled','duplicate','validation_error','expired','failed') NOT NULL,
  `reason_code` varchar(60) DEFAULT NULL,
  `event_source` enum('legacy_manifest','live') NOT NULL DEFAULT 'live',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_waste_import_event_key` (`event_key`),
  KEY `idx_waste_import_events_created_outcome` (`created_at`,`outcome`),
  KEY `idx_waste_import_events_actor_created` (`actor_user_id`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=587 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_events` WRITE;
/*!40000 ALTER TABLE `waste_import_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_events` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_manifests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_manifests` (
  `file_sha256` char(64) NOT NULL,
  `dataset_sha256` char(64) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `row_count` int(11) NOT NULL,
  `imported_by` int(11) DEFAULT NULL,
  `imported_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`file_sha256`),
  UNIQUE KEY `unique_waste_import_dataset` (`dataset_sha256`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_manifests` WRITE;
/*!40000 ALTER TABLE `waste_import_manifests` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_manifests` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_import_staging_rows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_import_staging_rows` (
  `batch_id` char(36) NOT NULL,
  `row_number` int(11) NOT NULL,
  `source_file_sha256` char(64) NOT NULL,
  `record_fingerprint` char(64) NOT NULL,
  `date` varchar(50) NOT NULL,
  `collection_date` date NOT NULL,
  `phase_number` varchar(50) NOT NULL,
  `street` varchar(100) NOT NULL,
  `kilogram_of_waste` decimal(10,2) NOT NULL DEFAULT 0.00,
  `recyclable_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `residual_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `hazardous_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `garbage_collector` varchar(100) DEFAULT NULL,
  `phase_date_label` varchar(255) DEFAULT NULL,
  `collection_group` varchar(255) DEFAULT NULL,
  `collection_group_type` enum('phase','establishment') DEFAULT NULL,
  `reporting_period` varchar(255) DEFAULT NULL,
  `name_of_bioman` varchar(255) DEFAULT NULL,
  `households` varchar(100) DEFAULT NULL,
  `tuesday_factory_returnable_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `comply_tue` varchar(50) DEFAULT NULL,
  `cd_processing` varchar(100) DEFAULT NULL,
  `wednesday_biowaste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `comply_wed` varchar(50) DEFAULT NULL,
  `thursday_factory_returnable_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `friday_biowaste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `comply_fri` varchar(50) DEFAULT NULL,
  `saturday_hazard_waste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `residual_waste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  `unclassified_waste_kg` decimal(10,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`batch_id`,`row_number`),
  UNIQUE KEY `unique_waste_import_staging_fingerprint` (`batch_id`,`record_fingerprint`),
  KEY `idx_waste_import_staging_fingerprint` (`record_fingerprint`),
  KEY `idx_waste_import_staging_batch_row` (`batch_id`,`row_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_import_staging_rows` WRITE;
/*!40000 ALTER TABLE `waste_import_staging_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_import_staging_rows` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_record_fingerprints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_record_fingerprints` (
  `record_fingerprint` char(64) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`record_fingerprint`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_record_fingerprints` WRITE;
/*!40000 ALTER TABLE `waste_record_fingerprints` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_record_fingerprints` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date` varchar(50) NOT NULL COMMENT 'Combined Month and Week (e.g., January Week 1)',
  `collection_date` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `phase_number` varchar(50) NOT NULL,
  `street` varchar(100) NOT NULL,
  `kilogram_of_waste` decimal(10,2) DEFAULT 0.00,
  `recyclable_kg` decimal(10,2) DEFAULT 0.00,
  `residual_kg` decimal(10,2) DEFAULT 0.00,
  `hazardous_kg` decimal(10,2) DEFAULT 0.00,
  `garbage_collector` varchar(100) DEFAULT NULL COMMENT 'Staff name from users table',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(100) DEFAULT NULL,
  `name_of_bioman` varchar(255) DEFAULT NULL,
  `households` varchar(100) DEFAULT NULL,
  `tuesday_factory_returnable_kg` decimal(10,2) DEFAULT 0.00,
  `comply_tue` varchar(50) DEFAULT NULL,
  `cd_processing` varchar(100) DEFAULT NULL,
  `wednesday_biowaste_kg` decimal(10,2) DEFAULT 0.00,
  `comply_wed` varchar(50) DEFAULT NULL,
  `thursday_factory_returnable_kg` decimal(10,2) DEFAULT 0.00,
  `friday_biowaste_kg` decimal(10,2) DEFAULT 0.00,
  `comply_fri` varchar(50) DEFAULT NULL,
  `saturday_hazard_waste_kg` decimal(10,2) DEFAULT 0.00,
  `residual_waste_kg` decimal(10,2) DEFAULT 0.00,
  `phase_date_label` varchar(255) DEFAULT NULL,
  `collection_group` varchar(255) DEFAULT NULL,
  `reporting_period` varchar(255) DEFAULT NULL,
  `collection_group_type` enum('phase','establishment') DEFAULT NULL,
  `record_fingerprint` char(64) DEFAULT NULL,
  `unclassified_waste_kg` decimal(10,2) DEFAULT 0.00,
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_waste_records_fingerprint` (`record_fingerprint`),
  KEY `idx_waste_records_collection_date` (`collection_date`),
  KEY `idx_waste_records_active_collection_date` (`is_active`,`collection_date`),
  KEY `idx_waste_records_fingerprint` (`record_fingerprint`),
  KEY `idx_waste_records_date_group` (`collection_date`,`collection_group`,`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14481 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_records` WRITE;
/*!40000 ALTER TABLE `waste_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_records` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `waste_records_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waste_records_archive` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `source_record_id` int(11) NOT NULL,
  `archived_by` int(11) DEFAULT NULL,
  `archived_at` datetime NOT NULL DEFAULT current_timestamp(),
  `retain_until` date DEFAULT NULL,
  `record_payload` longtext NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_archived_source_record` (`source_record_id`),
  KEY `idx_waste_records_archive_retain_until` (`retain_until`),
  KEY `idx_waste_records_archive_archived_at` (`archived_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `waste_records_archive` WRITE;
/*!40000 ALTER TABLE `waste_records_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_records_archive` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

